.select {
  &.is-open {
    z-index: 100;
    width: 280px;

    .select__button::after {
      transform: rotate(270deg);
    }

    .select__list {
      display: block;
    }
  }
}

.select__button {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  height: 49px;
  padding: 9px 60px 11px 30px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-align: left;
  border: none;
  border-radius: 29.5px;
  outline: none;
  background-color: $color-white;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 28px;
    width: 5px;
    height: 9px;
    background: url("../img/icons/arrow.svg") no-repeat 0 0;
    transform: rotate(90deg);
    transition: transform $transition-time $transition-function;
  }
}

.select__list {
  display: none;
  @include list-reset;
  position: absolute;
  top: 50%;
  width: 100%;
  max-height: 515px;
  padding: 25px 46px 28px 15px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  background-color: $color-white;
  border-bottom-right-radius: 29.5px;
  border-bottom-left-radius: 29.5px;

  .simplebar-track {
    right: 28px;

    &.simplebar-vertical {
      width: 6px;
    }
  }

  .simplebar-scrollbar {
    cursor: pointer;

    &:before {
      background: $color-silver;
      opacity: 1;
    }
  }

  .simplebar-offset {
    right: 0 !important;
  }
}

.select__sublist {
  display: none;
  margin-bottom: 4px;
  padding-top: 8px;
  padding-left: 13px;
  font-weight: 500;
  list-style: none;
}

.select__item {
  cursor: pointer;

  span {
    display: block;

    &.is-open {
      & + .select__sublist {
        display: block;
      }
    }
  }
}

.select__all-subitem {
  font-size: 10px;
  text-transform: uppercase;
  color: $color-bright-sun;
}

.select__value {
  padding-left: 15px;
  border-radius: 15px;

  &:hover {
    background-color: rgba(196, 196, 196, 0.3);;
  }
}

.select__sublist-title {
  padding-left: 15px;
  border-radius: 15px;
  font-weight: 700;

  &:hover {
    background-color: rgba(196, 196, 196, 0.3);;
  }
}

.select__date-picker {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  height: 49px;
  padding: 9px 60px 11px 30px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-align: left;
  border: none;
  border-radius: 29.5px;
  outline: none;
  background-color: $color-white;
  cursor: pointer;

  &::-webkit-input-placeholder {
    color: $color-black;
  }

  &::-moz-placeholder {
    color: $color-black;
  }

  &:-ms-input-placeholder {
    color: $color-black;
  }

  &::-ms-input-placeholder {
    color: $color-black;
  }

  &::placeholder {
    color: $color-black;
    opacity: 1;
  }
}

@include mobile {
  .select {
    &.is-open {
      width: auto;
    }
  }

  .select__button {
    height: 40px;

    &::after {
      top: 17px;
      right: 23px;
    }
  }

  .select__date-picker {
    height: 40px;
  }
}
