$font: "Museo Sans Cyrl", "Arial", sans-serif;

$color-black: #000000;
$color-white: #FFFFFF;
$color-bright-sun: #FFD241;
$color-hokey-pokey: #C5B223;
$color-gray: #8C8C8C;
$color-silver: #C4C4C4;
$color-alt-silver: #C1C1C1;
$color-monza: #CB0037;
$color-mercury: #E7E7E7;
$color-cod-gray: #141414;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$transition-time: 0.2s;
$transition-function: ease-in-out;
