section.tours
  h2 Зимбабве

  ul.tours__list
    li.tours__item.tour
      a.tour__link(href="#")
        .tour__image
          img(src="img/tour-1@1x.jpg" srcset="img/tour-1@2x.jpg 2x" width="380" height="218" alt="Италия")
          span от 118 112 &#8381;
        span Италия
        h3 Под небом Тосканы
        p Сансеполькро — (Перуджа) — Ассизи — Губбио — (Сиена) — Ла Верна — Ангиари&nbsp;—&nbsp;Монтерки — Ареццо — Кортона — (Пиенца) - (Монтепульчано)
        .tour__description
          span 8 дней / 7 ночей
          span Русский язык
          p <span>27.04.19</span> - <span>04.05.19</span> <span>и еще 15 дат</span>
        .tour__special-offer
          span Авиаперелет включен!

    li.tours__item.tour
      a.tour__link(href="#")
        .tour__image
          img(src="img/tour-2@1x.jpg" srcset="img/tour-2@2x.jpg 2x" width="380" height="218" alt="Исландия")
          span 140 715 &#8381;
        span Исландия
        h3 Майские каникулы в Исландии
        p Рейкьявик — Тингвеллир — Гюдльфосс — Скафтафедль — Сельяландсфосс — Скоугафосс — Йёкюльсаурлоун — Голубая Лагуна — Снайфельсйёкутль — Arnarstapi&nbsp;—&nbsp;Рейкьявик
        .tour__description
          span 8 дней / 7 ночей
          span Русский язык
          p <span>27.04.19</span> - <span>04.05.19</span>

    li.tours__item.tour
      a.tour__link(href="#")
        .tour__image
          img(src="img/tour-3@1x.jpg" srcset="img/tour-3@2x.jpg 2x" width="380" height="218" alt="Турция")
          span 37 302 &#8381;
        span Турция
        h3 Открытие Турции
        p Стамбул — Анкара — Каппадокия — Конья — Памуккале — Эфес — Кушадасы —&nbsp;Пергам — Ассос — Троя — Стамбул
        .tour__description
          span 8 дней / 7 ночей
          span Русский язык
          p <span>28.04.19</span> - <span>05.05.19</span> <span>и еще 3 даты</span>

    li.tours__item.tour
      a.tour__link(href="#")
        .tour__image
          img(src="img/tour-4@1x.jpg" srcset="img/tour-4@2x.jpg 2x" width="380" height="218" alt="Норвегия, Шпицберген")
          span 145 000 &#8381;
        span Норвегия, Шпицберген
        h3 От Свальбарда до Груманта
        .tour__description
          span 8 дней / 7 ночей
          span Русский язык
          p <span>27.04.19</span> - <span>04.05.19</span> <span>и еще 15 дат</span>
        .tour__special-offer
          span Гарантированный тур!
